<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'/>
		<title> Freedom Board </title>
		<link rel="stylesheet" href="/css/bootstrap.css"/>
		<link rel="stylesheet" href="/css/bootstrap-responsive.css"/>
		<!-- <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' /> -->
	</head>
	
	<body class = "row text-center">
		<h1 align = "center"> Freedom Board </h1><br>
		
		<div class = "form-group">
		<form action = "/" method = "post">			
				<textarea class = "form-control" rows="4" style="width:50%" name = "text" placeholder="type your message"></textarea> <br>
				<input type="text" class="form-control rounded -0" id="user" placeholder="Anonymous" name = "user"> &nbsp&nbsp&nbsp
				<button type="submit" class="btn btn-primary">Ipahayag!</button>			
		</form>

 		<form action = "/search" method = "post">						
			<input type="text" class="form-control" id="search" placeholder="hanapin ang post" name = "search"> &nbsp&nbsp&nbsp	
			<button type="submit" class="btn btn-primary">Hanapin!</button>									
		</form>				   
		</div> 

		
		<div class="form-group">
			<table align = "center" border="1px solid-black" style="width:50%;" cellpadding="10">					   
			 <tr>
			   <td>
			   	  <%@posts.reverse_each{|time,value| %>			   	  					   
				    <table align = "center" frame="below" border="1px solid-black;" style="border-collapse: collapse;" cellpadding="20">
				      	<tr>
				        	<th style="width: 10%; border: none;" align="left">
				        		<p style="padding-left: 10px; padding-top: 10px;"><%=time%></p></th>
				        	<th style="width: 10%; border: none;" align="right">
				        		<p style="padding-right: 10px; padding-top: 10px;"><%=value[0]%></p></th>
				        </tr>
					    <tr>
					    	<td colspan="2" style="padding: 20px; padding-top: 3px; border: none;" align="left">
					    		<p><%=value[1]%> </p>
					    </tr>
					</table>				 
				  <%}%>
				</td>				  
				</tr>			   
			</table>
		</div>
	</body>
</html>