<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'/>
		<title> Freedom Board </title>
		<link rel="stylesheet" href="/css/bootstrap.css"/>
		<link rel="stylesheet" href="/css/bootstrap-responsive.css"/>
		<!-- <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' /> -->
	</head>
	
	<body class = "row text-center">
		<h1 align = "center"> Freedom Board </h1><br>
		
		<form action = "/" method = "post">
			<div class = "form-group">
				<textarea class = "form-control" rows="4" style="width:50%" name = "text" placeholder="type your message"></textarea> <br> <br>
				<input type="text" class="form-control rounded -0" id="user" placeholder="Anonymous" name = "user"> &nbsp&nbsp&nbsp
				<button type="submit" class="btn btn-primary">Ipahayag!</button>
			</div> <br>
		</form>
		
		<form action = "/search" method = "post">
			<div class = "form-group">
				<input type="text" class="form-control" id="search" placeholder="hanapin ang post" name = "search"> &nbsp&nbsp&nbsp
				<button type="submit" class="btn btn-primary">Hanapin!</button>
			</div>
		</form>
		<!-- if exists -->
        <%@posts.each{|time,value| %>
	      <p> Time: <%=time%> User: <%=value[0]%> Message: <%=value[1]%> </p>
		<%}%>
	</body>
</html>